@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  overflow-x: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  display: none;
  text-decoration: none;
}

body {
  color: white;
  background-color: #242424;
}

.sideBar {
  margin-bottom: 10px;
  align-items: center;
  gap: 10px;
  background-color: #333;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 10px;
  width: 100%;
  height: 110%;
}

.userIcon img {
  border-radius: 50%;
  height: 6vh;
  border: 2px white solid;
  width: 6vh;
}

.userIcon {
  transform: translateY(20%);
  justify-content: center;
  width: 10vw;
  height: 10vh;
}

.search {
  display: flex;
  align-items: center;
  position: relative;
}

.hidden {
  display: none;
}
.search-button {
  margin-left: 10px;
  background: linear-gradient(to right, #000, #fff);
  background-size: 1500%;
  background-position: left;
  transition: 0.3s ease-in;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  height: 3vh;
  width: 40vw;
  text-align: center;
  padding: 5px 15px;
  display: flex;
  align-items: center;
}

.search-button i {
  transition: 0.5s ease-in-out;
}

.search-button:hover i {
  transform: translate(63px);
}

.search-button:hover {
  color: black;
  background-position: right;
}

.search-bar {
  position: absolute;
  left: 0;
  width: 0;
  height: 3vh;
  width: 40vw;
  font-size: 0.8rem;
  border: none;
  border-radius: 20px;
  padding: 0 15px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
  overflow: hidden;
}

.search-bar.active {
  transform: translateX(11px);
  width: 40vw;
  opacity: 1;
  border: none;
  border-style: none;
  pointer-events: auto;
}

.navLibrary {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #525252;
  padding: 5px 5px;
  border-radius: 10px;
}
.navPlaylist {
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #525252;
}
.navPlaylist button {
  cursor: pointer;
  border-radius: 10px;
  border: none;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.navLangBtn {
  display: none;
}
#content h2 {
  margin-bottom: 10px;
  text-align: center;
}
.artists-grid,
.albums-grid,
.musics-grid {
  overflow-x: auto;
  padding: 10px;
  text-align: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 10px;
}

.artists-grid img,
.albums-grid img,
.musics-grid img {
  border-radius: 10px;
  height: auto;
  width: 40vw;
}
.albums-grid img,
.musics-grid img {
  animation: girar 100s linear infinite;
  border-radius: 50%;
}
.artist-card,
.album-card,
.music-card {
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
}

.artistIcon {
  width: 15vw;
  transform: translateY(75%);

  height: 15vw;
  border-radius: 50%;
}
.yunli h2 {
  transform: translateX(10px);
}

.yunli {
  background-color: #333;
  text-align: center;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.yunli-grid {
  gap: 5px;
  text-align: center;
  overflow-x: auto;
  padding: 10px;
  display: flex;
}
.yunli-card img {
  border-radius: 10px;
  height: auto;
  width: 40vw;
}
.yunli-card {
  background-color: #252525;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 10px;
  text-align: center;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.music-player {
  border-radius: 5px;
  position: fixed;
  bottom: 1vh;
  left: 0;
  text-align: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  display: none; /* Inicialmente escondido */
}

.music-player p {
  margin: 0 10px;
}

.music-player button {
  background: #525252;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transform: translateY(-20%);
  border-radius: 5px;
}
.current-time,
.remaining-time {
  text-align: center;
  font-size: 19px;
}
.progress-bar,
.volume-control {
  width: 25vw;
  margin: 1vw;
}
